* {
    background-color: #F5F5F5;
}

/* Main Navigation Bar*/
.nav {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height : 10%;
    /*background-color: black;*/
    border : 1px #e7e1e1 solid;
}

/*logo image with logo name */
.nav .logo {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left : 20px;
    /*background-color: black;*/
}

/*logo image*/
.nav .logo .logoImage img{
    width:40px;
    height:40px;
    /*border: 1px black solid;*/
    margin-top:7px;
}

/*logo name editing*/
.logoname1 {
    font-size: 20px;
    color: #444BAB;
    margin-left : 10px;
    /*background-color: black;*/
}

/* right part of navigation with include notify , user , arrow*/
.rightnav {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

/*image short*/
.rightnav .user .userImage img{
    width:50px;
    height:50px;
    border-radius: 50%;
    margin-top: 6px;
}

/* user in flex */
.user {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.username {
    font-size: 11px;
    padding-left : 10px;
    padding-right : 15px;
    padding-top : 6.5px;

}

/* right part in right */
.rightnav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

/* notify icon */
.rightnav .notify img {
    width : 20px;
    height : 20px;
    margin-left : 20px;
    margin-top:20px;
    margin-right : 50px;
    /*border : 1px black solid;*/

}

/* arrow */
.arrow img {
    width : 20px;
    height : 10px;
    padding-right : 20px;
    padding-top:24px;
}


/* main part */
.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* left */
.left {
    margin-top : 20px;
    padding-left : 30px;
    padding-right : 30px;
    padding-top: 50px;
    width : 25rem;
    border : 1px #E7E1E1FF solid;
    height : 60rem;
}

/* image small */
.main .left .image img {
    width:60%;
    height:50%;
    border-radius: 80%;
    /*border : 2px solid blue;*/
    /*margin: 20px 20px 0 20px;*/
}

/* text name in center */
.name {
    text-align: center;
    padding-bottom:30px;
    font-size: 200%;
}

.imagename {
    text-align: center;
}

/* contact */
.contact .gmail {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-bottom: 10px;
}

.contact .phone {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.contact img {
    width: 6%;
    height: 6%;
}

.contact h5  {
    font-size: 13px;
    padding-left: 10px;
    margin : 0;
}

/* on the web */
.ontheweb .linkedin {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-bottom: 10px;
}

.ontheweb .bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-bottom: 10px;
}

.ontheweb .leetcode {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-bottom: 10px;
}

.ontheweb .github {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-bottom: 10px;
}

.ontheweb img {
    width: 15px;
    height: 15px;

}

.ontheweb h5  {
    font-size: 13px;
    padding-left: 10px;
    margin : 0;
}

/* right */
.right {
    width : 60vw;
    padding: 50px;
    margin-top:20px;
    border : 1px #E7E1E1FF solid;
}

.education {
    padding-bottom: 15px;
}
.education h5{
    color: #6B6C6D;
}
.workexp>h4 {
    color:#343A40;
}

.workexp>h5 {
    color:#6B6C6D;
}

.workexp>.description>h4 {
    color:#6B6C6D;
}
.workexp>.description>p {
    color:#6B6C6D;
}
.workexp>.projectDetails>h4 {
    color:#6B6C6D;
}
.workexp>.projectDetails>p {
    color:#6B6C6D;
}

.academic h3 {
    color:#343A40;
}

.academic h4 {
    color:#343A40;
}
.academic h5 {
    color:#6B6C6D;
}
.academic p {
    color : #343A40;
    font-family: 'Tiro Kannada', serif;
}
.achievements {
    color : #263238;
}
